<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section type="IODocsNet.IODocsConfiguration, IODocsNet" name="ioDocs" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>

  <ioDocs name="SampleApi" version="1.0.0" description="Sample Api Description" title="My Sample API (V1)" basePath="https://api.sampleapp.mashery.com:443" >
  </ioDocs>

</configuration>